services:
  valkey:
    image: valkey/valkey:7.2-alpine
    container_name: valkey-server
    hostname: valkey
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - valkey-data:/data
      - ./valkey.conf:/etc/valkey/valkey.conf
    command: ["valkey-server", "/etc/valkey/valkey.conf"]

volumes:
  valkey-data:
    driver: local
